Vagrant.configure("2") do |config|
  
  config.vm.box="cryptoluks/badge"
  config.vm.hostname = "badge"

  config.vm.provider "virtualbox" do |v|
    v.gui = true
  end

  config.vm.synced_folder ".", "/vagrant", disabled: true

end
