Vagrant.configure("2") do |config|
  config.vm.guest = :windows
  config.vm.communicator = "winssh"
  config.winssh.username = "vagrant"
  config.winssh.password = "vagrant"
  config.vm.synced_folder ".", "/vagrant", disabled: true
end
